.component-preview {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    text-align: center;
}

.component-preview__preview {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 80px 20px 0;
    flex-grow: 1;
}

.component-preview__title {
    display: block;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    padding: 30px 0;
}
