.component-preview {
    display: flex;
    flex-flow: column nowrap;

    text-align: center;
    background: var(--background);
    box-sizing: border-box;
    border-radius: var(--component-border-radius);
    box-shadow: var(--component-box-shadow);
}

.component-preview__preview {
    padding: 50px 20px 25px;
    flex-grow: 1;
}

.component-preview__title {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 30px;
}
