.global-container{
    display: flex;
    flex-flow: column nowrap;
}

.global-container__area {
    padding: 0 160px;
}

@media (max-width: 768px) {

    .global-container__area {
        padding: 0 20px;
    }
}
