.global-container{
    display: flex;
    flex-flow: column nowrap;
}

.global-container__area {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 768px) {

    .global-container__area {
        padding: 0 20px;
    }
}
